<script id="template_upload_xml_object" type="text/html">
    <form id="uploadXml" name="uploadXml">
      
     
         
       
       
 
     <table  id="document_table">
         <tr>
             <td>  <input type="file" id="fileinput" name="fileinput" multiple />  </td>
          
             <td>
                 <input type="button" id="btn_save_documents"    onclick  ="upload_xml()" value="בצע" /> 
 
             </td>
             <td>
                 <input type="button" id="btn_1"    onclick  ="upload_xml_object()" value=" חדש בצע" /> 
 
             </td>
           </tr>
          
            
      </table >  
       
    </form>  
 </script>