<script id="templat_communication_list" type="text/html">

    <!-- <a href="#" onclick=" new_communication()"> הוספת תקשורת</a> !-->
     <br/>
     <br/>
    <table border="1"  id="communication_table" >
        <thead > 
            <tr >
               
                <th class="comuniction_table">סוג</th>
                <th class="comuniction_table">פרטים</th>
                <th class="comuniction_table"> הערה</th>
                <th class="comuniction_table" ><input type="button" onclick="new_communication()" value="חדש"  class="font_color_purpl"/></th>
               
            </tr>
        </thead>
        <tbody>
            <% $.each(data, function(rowindex,row) {%>
                 <tr>
                       <% $.each(row, function(key,val){  
                          if(key!="Serial") {%>
                           <td><%= val%></td>
                     <% } else { %>
                          <td> <a href="#" onclick=" edit_communication(<%= val%>,<%=(rowindex+1)%>)"> ע</a> </td>
                       <%} });%>
                 </tr>
            <%}); %>
        </tbody>
    </table>
  
</script>