<div style="direction:ltr;">
    <input type="file" id="testfile" name="testfile" />
    <br />
    <input type="file" id="testfile1" name="testfile1" multiple />
    <br />
    <button id="file_upld">upload</button>
</div>

