<div class="login_container">
    <div class="login_layout">
        <form id="log_in1" name="log_in1">
        <!--    <table  id="login_table">
                 <thead>
                       <tr>
                      
                           <th>שם משתמש</th>
                          <th>סיסמה</th>
                       </tr>
                   </thead>
                   <tr>
                       <td>  <input type="text" id="user_name" name="user_name" />  </td>
                        <td>  <input type="password" id="pass_word" name="pass_word" />  </td>
                         <td>  <input type="button" onclick="log_in()" value=  "בצע" />  </td>
                   </tr>
       
           </table> !-->
        <br/>
          <div>
            <p>  &nbsp  &nbsp    שם משתמש </p>
            &nbsp  &nbsp  <input type="text" id="user_name" name="user_name" /> 
           </div>

           <div>
            <p>  &nbsp  &nbsp    סיסמה </p>
            &nbsp  &nbsp  <input type="password" id="pass_word" name="pass_word" />
           </div>
           <br/>
           &nbsp  &nbsp   <input type="button" onclick="log_in()" value=  "בצע" />
        </form>
    </div>
</div>

