 
 <form id="form_home" name="form_home" onsubmit="return false;">
 <!--  home -->
 <!-- Bootstrap CSS -->
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  -->  
 <div class="fixed-top py-10" >
      <div >
        
        
        
          
          <!-- <nav class="navbar navbar-default navbar-fixed-top  " > -->
            <!-- Brand and toggle get grouped for better mobile display -->
            
            <div class="" >
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse navbar-right">
              
              <ul class="nav navbar-nav ">
                
                    <li > <img src="../images/logo_aluma2.png" width="100" height="50" alt="logo" title=" תכנון פרישה " />
                    </li>
                    <li > <a href="/">    ראשי    </a> </li>
                    <li ><a href="../views/pages/insurance/aboard.html" home-menu="">מי אנחנו </a></li>
                    <li ><a href="#" home-menu="avi">העיקר הבריאות </a></li>
                    
                    <li class="dropdown" >
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ביטוחים <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#" home-menu="">ביטוח חיים </a></li>
                        <li><a href="#" home-menu="">חיסכון פנסיוני</a></li>

                        <li role="separator" class="divider"></li>

                        <li><a href="#" home-menu="">בריאות </a></li>
                        <li><a href="#" home-menu="aboard">נסיעות לחו"ל</a></li>
                        
                        <li role="separator" class="divider"></li>

                        <li><a href="#" home-menu="mikzohit">אחריות מקצועית</a></li>
                        <li><a href="#" home-menu="">עסקים</a></li>
                        <li><a href="#" home-menu="">דירות</a></li>
                        <li><a href="#" home-menu="">רכב</a></li>
                      </ul>
                    </li>
                     
            <li><a href="./maintaining/" home-menu="">תחזוקה </a></li>
             
            ﻿<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">חתוכים <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                          <li><a href="javscript:void(0)" home-menu="cuts">לקוחות</a></li>
                    
                  </ul>
              </li> 
                    <li><a href="./client/" home-menu="" >כניסת לקוחות </a></li>
                  
              </ul>

            </div>
        <!--  </nav> -->
        </div>
      </div>
    </div>
       <br />
      <br />
      <br />
     <div id="flg_div">
          <input  class="flg_div" type="hidden" name="conversations_filtering_flg" id="conversations_filtering_flg" />
           <input class="flg_div" type="hidden" name="client_filtering_flg" id="client_filtering_flg" />
           <input  class="flg_div" type="hidden" name="cuts_filtering_flg" id="cuts_filtering_flg" />
           <input  class="flg_div" type="hidden" name="cuts_result_flg" id="cuts_result_flg" />
           <input  class="flg_div" type="hidden" name="kupa_gemel_filter_flg" id="kupa_gemel_filter_flg" />
           <input  class="flg_div" type="hidden" name="follow_checks_filter_flg" id="follow_checks_filter_flg" />
           <input  class="flg_div" type="hidden" name="meeting_filter_flg" id="meeting_filter_flg" />
           <input  class="flg_div" type="hidden" name="proposal_life_filtering_flg" id="proposal_life_filtering_flg" />
           <input  class="flg_div" type="hidden" name="read_xml_flg" id="read_xml_flg" />
         
     </div>
      <div id="hidden_div">

        <br/>
        <div  id="main_div"> 
        <br/>
        <div class="show_hide_div" id="main_div2"> 
          <h1>אלומה - ביטוח בעברית פשוטה</h1>
        </div>
        <div>
          <button onclick="get_client_by_term2('ade')" >ok</button>
        </div>
        <div>
          <a id="aboard_link" href="./insurance/aboard/"> this is aboard_link</a>
        </div>
        <div>
          <a id="aboard_link1" href="./insurance/">this is aboard_link1</a>
        </div>

            <div class="show_hide_div" id="travel_insurance_div"> 
              <div class="container - fluid ">
                <div class="row">
                  <div class="  col">
                    <p>
                    ביטוח נסיעות לחו"ל באמצעות חברות הביטוח: הפניקס, הראל, פספורט כארד ומגדל
                   </p>
                    <p>
                    זמנית לא ניתן לבטח לארצות הברית
                    </p>
                    <p>  
                    הכיסויים הכלולים בפוליסה הבסיסית:
                    </p>
                    <p>
                    הוצאות רפואיות בחו"ל בעת אשפוז ולא בעת אשפוז - גם עקב נגיף הקורונה
                    </p>
                    <p>
                    הטסה רפואית לישראל
                    </p>
                    <p>
                    פינוי אווירי ממקום האירוע לבי"ח קרוב
                    </p>
                    <p>
                    איתור וחילוץ
                    </p>
                    <p>
                    הוצאות העברה ברכב יבשתי
                    </p>
                    <p>
                    טיפול חירום בשיניים
                    </p>
                    <p>
                    הריון שאובחן לראשונה בחו"ל עד שבוע 12
                    </p>
                     <p>
                    חבות כלפי צד שלישי
                    </p>
                    <p>
                    הארכת שהות בחו"ל מעבר לתקופה המבוקשת
                    </p>
                     <p>
                    ניתן לרכוש הרחבות בתוספת תשלום:
                  </p>
                  <p>
                    כיסוי מקיף לביטול וקיצור נסיעה עקב נגיף קורונה
                  </p>
                  <p>
                    ספורט אתגרי
                  </p>
                  <p>
                    ספורט חורף
                  </p>
                  <p>
                    כבודה
                  </p>
                  <p>
                    ביטול וקיצור נסיעה
                  </p>
                  <p> 
                    גניבה של מצלמה/ טלפון נייד/ מחשב נייד
                  </p>
                  <p>
                    ביטוח תאונות אישיות מוות או נכות מלאה
                  </p>
                  <p>
                    כיסוי למצב רפואי קיים
                  </p>
                  <p>
                    הוצאות רפואיות בישראל
                  </p>
                  <p>
                    בכפוף לתנאי הפוליסה המלאים
                    </p>
                  </div>
                  
                  
              </div>
            </div>

            
            <div class="show_hide_div" id="client_filtering_div"></div>
            
            <div class="show_hide_div" id="cuts_result_div"></div>
            <div class="show_hide_div" id="kupa_gemel_filter_div"> </div>
            <div class="show_hide_div" id="follow_checks_filter_div"> </div>
            <div class="show_hide_div" id="meeting_filter_div"> </div>
            <div class="show_hide_div" id="proposal_life_filtering_div"> </div>        
            <div class="show_hide_div" id="read_xml_div">   </div>         
      </div>
   
     
      <br/>

    </div>  
   

    



</form>



<$- include("../client/client_filtering") $>
<$- include("../conversation/edit_conversation") $>
<$- include("../conversation/conversations_filtering") $>
<$- include("../conversation/conversation_filtering_list") $>

<$- include("../followup_conversation/followup_conversation_list") $>
<$- include("../followup_conversation/edit_followup_conversation") $>
<$- include("../cuts/cuts") $>
<$- include("../cuts/cuts_resul") $>

<$- include("../meeting/meeting_list") $>



<$- include("../client/client_filtering") $>

	