 
 <form id="form_home" name="form_home" onsubmit="return false;">
 <!--  home -->
 <!-- Bootstrap CSS -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
 <div class="container - fluid ">
      <div class="row align-items-center  fixed-top bg-white py-10">
        <div class="col-1">
          <img src="../images/logo_aluma2.png" width="100" height="50" alt="logo" title="Life Goals &#8211; תכנון פרישה חכם" />
        </div>
        
        <div class="col-11 ">
          
          <nav navbar navbar-default navbar-">
            <!-- Brand and toggle get grouped for better mobile display -->
            
           
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse ">
              
              <ul class="nav  ">
          
                    <li> <input id="typehead" type="hidden" class="select2width" /></li>
                    <li> <a href="/">    ראשי    </a> </li>
                    <li><a href="#" home-menu="">מי אנחנו </a></li>
                    <li><a href="#" home-menu="">העיקר הבריאות </a></li>
                    
                    <li class="dropdown" dir="rtl">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ביטוחים <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#" home-menu="">ביטוח חיים </a></li>
                        <li><a href="#" home-menu="">חיסכון פנסיוני</a></li>

                        <li role="separator" class="divider"></li>

                        <li><a href="#" home-menu="">בריאות </a></li>
                        <li><a href="#" home-menu="">נסיעות לחו"ל</a></li>
                        
                        <li role="separator" class="divider"></li>

                        <li><a href="#" home-menu="">אחריות מקצועית</a></li>
                        <li><a href="#" home-menu="">עסקים</a></li>
                        <li><a href="#" home-menu="">דירות</a></li>
                        <li><a href="#" home-menu="">רכב</a></li>
                      </ul>
                    </li>
                    <li><a href="#" home-menu >כניסת לקוחות </a></li>
                  
              </ul>

            </div>
          </nav>
        </div>
      </div>
    </div>
       <br />
      <br />
      <br />
     <div id="flg_div">
          <input  class="flg_div" type="hidden" name="conversations_filtering_flg" id="conversations_filtering_flg" />
           <input class="flg_div" type="hidden" name="client_filtering_flg" id="client_filtering_flg" />
           <input  class="flg_div" type="hidden" name="cuts_filtering_flg" id="cuts_filtering_flg" />
           <input  class="flg_div" type="hidden" name="cuts_result_flg" id="cuts_result_flg" />
           <input  class="flg_div" type="hidden" name="kupa_gemel_filter_flg" id="kupa_gemel_filter_flg" />
           <input  class="flg_div" type="hidden" name="follow_checks_filter_flg" id="follow_checks_filter_flg" />
           <input  class="flg_div" type="hidden" name="meeting_filter_flg" id="meeting_filter_flg" />
           <input  class="flg_div" type="hidden" name="proposal_life_filtering_flg" id="proposal_life_filtering_flg" />
           <input  class="flg_div" type="hidden" name="read_xml_flg" id="read_xml_flg" />
         
     </div>
      <div id="hidden_div">
            <div class="show_hide_div" id="conversations_filtering_div"></div>
            <div class="show_hide_div" id="client_filtering_div"></div>
            <div class="show_hide_div" id="cuts_filtering_div"> </div>
            <div class="show_hide_div" id="cuts_result_div"></div>
            <div class="show_hide_div" id="kupa_gemel_filter_div"> </div>
            <div class="show_hide_div" id="follow_checks_filter_div"> </div>
            <div class="show_hide_div" id="meeting_filter_div"> </div>
            <div class="show_hide_div" id="proposal_life_filtering_div"> </div>        
            <div class="show_hide_div" id="read_xml_div">   </div>         
      </div>
    <br/>
    <br/>
      
    <div class="container - fluid ">
      <div class="row">
        <div class="  col">
          בשבועות שחלפו מאז שממונה הקורונה, פרופ' נחמן אש, נכנס לתפקיד, הוא למד להכיר את האתגרים המלווים את המשרה המורכבת. חרף הקשיים בעצירת התחלואה, ואף שקבינט הקורונה מקבל לעתים החלטות בניגוד להמלצותיו, הוא אינו מתכוון לעזוב את התפקיד בקרוב.

בצל הזינוק בתחלואה ותחילת מבצע החיסונים, אש הסביר בריאיון לוואלה! NEWS איך משרד הבריאות מתכוון להילחם בפייק ניוז על החיסון, מגלה מדוע לא הצליחו להכריז על דובאי כיעד אדום, ומבשר על תכנית לפתיחת חלקים נוספים במשק בערים ירוקות.

בכל הנוגע לחיסון, פרופ' אש אופטימי. "אני חושב שתהיה היענות יותר גבוהה מלחיסון רגיל", הוא קובע. "בחיסון שפעת אנחנו מחסנים סביב 25% מהאוכלוסייה. אנחנו צריכים להגיע ל-60% ואני מאמין שנגיע לזה".
בשבועות שחלפו מאז שממונה הקורונה, פרופ' נחמן אש, נכנס לתפקיד, הוא למד להכיר את האתגרים המלווים את המשרה המורכבת. חרף הקשיים בעצירת התחלואה, ואף שקבינט הקורונה מקבל לעתים החלטות בניגוד להמלצותיו, הוא אינו מתכוון לעזוב את התפקיד בקרוב.

בצל הזינוק בתחלואה ותחילת מבצע החיסונים, אש הסביר בריאיון לוואלה! NEWS איך משרד הבריאות מתכוון להילחם בפייק ניוז על החיסון, מגלה מדוע לא הצליחו להכריז על דובאי כיעד אדום, ומבשר על תכנית לפתיחת חלקים נוספים במשק בערים ירוקות.

בכל הנוגע לחיסון, פרופ' אש אופטימי. "אני חושב שתהיה היענות יותר גבוהה מלחיסון רגיל", הוא קובע. "בחיסון שפעת אנחנו מחסנים סביב 25% מהאוכלוסייה. אנחנו צריכים להגיע ל-60% ואני מאמין שנגיע לזה".
בשבועות שחלפו מאז שממונה הקורונה, פרופ' נחמן אש, נכנס לתפקיד, הוא למד להכיר את האתגרים המלווים את המשרה המורכבת. חרף הקשיים בעצירת התחלואה, ואף שקבינט הקורונה מקבל לעתים החלטות בניגוד להמלצותיו, הוא אינו מתכוון לעזוב את התפקיד בקרוב.

בצל הזינוק בתחלואה ותחילת מבצע החיסונים, אש הסביר בריאיון לוואלה! NEWS איך משרד הבריאות מתכוון להילחם בפייק ניוז על החיסון, מגלה מדוע לא הצליחו להכריז על דובאי כיעד אדום, ומבשר על תכנית לפתיחת חלקים נוספים במשק בערים ירוקות.

בכל הנוגע לחיסון, פרופ' אש אופטימי. "אני חושב שתהיה היענות יותר גבוהה מלחיסון רגיל", הוא קובע. "בחיסון שפעת אנחנו מחסנים סביב 25% מהאוכלוסייה. אנחנו צריכים להגיע ל-60% ואני מאמין שנגיע לזה".

        </div>
        
        
    </div>  
   

    



</form>



<$- include("../client/client_filtering") $>
<$- include("../conversation/edit_conversation") $>
<$- include("../conversation/conversations_filtering") $>
<$- include("../conversation/conversation_filtering_list") $>

<$- include("../followup_conversation/followup_conversation_list") $>
<$- include("../followup_conversation/edit_followup_conversation") $>
<$- include("../cuts/cuts") $>
<$- include("../cuts/cuts_resul") $>
<$- include("../kupa_gemel/kupa_gemel_filter") $>
<$- include("../kupa_gemel/kupa_gemel_list") $>
<$- include("../follow_checks/follow_checks_list") $>
<$- include("../follow_checks/follow_checks_for_filter") $>
<$- include("../follow_checks/edit_follow_checks") $>
<$- include("../meeting/meeting_list") $>

<$- include("../mimshak/upload_xml") $>
<$- include("../life_police/police_xml") $>
<$- include("../life_police/ricuz_police_mimshk") $>


<$- include("../client/client_filtering") $>

<$- include("../life_police/police_xml_object") $>
<$- include("../life_police_mimshk/kisuim") $>

	