<!--  home menu -->
 
            
            
            <div class="topnav" id="myTopnav">
              
             
                    
                    
					<a href="#" >     
						<img src="../images/logo_aluma2.png" width="50" height="25" alt="logo" title=" aluma " />   
					</a> 
                    <a href="../views/pages/insurance/aboard.html" home-menu="">מי אנחנו </a>
                    <a href="#" home-menu="avi">העיקר הבריאות </a>
                    
					<div class="dropdown1">
						<button class="dropbtn1">ביטוחים 
						  <i class="fa fa-caret-down"></i>
						</button>
                     
						<div class="dropdown-content">
							<a href="#" home-menu="">ביטוח חיים </a>
							<a href="#" home-menu="">חיסכון פנסיוני</a>

							 role="separator" class="divider">

							<a href="#" home-menu="">בריאות </a>
							<a href="#" home-menu="aboard">נסיעות לחו"ל</a>
							
							 role="separator" class="divider">

							<a href="#" home-menu="mikzohit">אחריות מקצועית</a>
							<a href="#" home-menu="">עסקים</a>
							<a href="#" home-menu="">דירות</a>
							<a href="#" home-menu="">רכב</a>
						</div>
					</div>
						
                     
					<a href="./maintaining/" home-menu="">תחזוקה </a>
             
					<div class="dropdown1">
						<button class="dropbtn1">חתוכים 
						  <i class="fa fa-caret-down"></i>
						</button>
                 
					    <div class="dropdown-content">
							  <a href="javscript:void(0)" home-menu="cuts">לקוחות</a>
						
						</div>
					</div>
               
					<a href="./client/" home-menu="" >כניסת לקוחות </a>
					<a href="#" class="icon" home-menu="topnav">
						<i  class="fa fa-bars"></i>
					</a>
                  
            

            </div>
        <!-- home menu end -->
    