<script id="edit_param" type="text/html">
   


   <form id="editParam" name="editParam">
     
      <input type="hidden" name="serial"   value="<%= data.main[0].Serial %>" />
      <input type="hidden" name="my_serial"   value="<%=  data.my_serial %>" />
    
      
       <input type="button" id="btn_save_param"  name="btn_save_param"  onclick  ="save_param()" value="שמור" />
      

        <table  id="param_table">
                <tr>
                        
                
                        <td>
                            <div>פרוט</div>
                                 <div >
                                  <input name="param_name" value=" <%= data.main[0].ParamName %>" size="30"  />
                             </div>
                        </td>
                </tr>
         </table >  
       

    
   </form>  
</script>