
  <div dir ="rtl" class="navbar" id="myTopnav">
         
    <a href="javscript:void(0)"  onclick="alert('good')">עובדים </a>
    <a href="/" onclick="myFunction()" >ראשי
      
    </a>
    <a href="javscript:void(0)" maintaining-menu="users">עובדים</a>
   
        <div class="dropdown">
              <button class="dropbtn">פרמטרים כללי 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#"  maintaining-menu="Operation">קבוצת חיתוך</a>
                <a href="#"  maintaining-menu="GoalOfTalk">מטרת השיחה</a>
                <a href="#" maintaining-menu="DocumentOccupation">תחום המסמך</a>
                <a href="#" maintaining-menu="TypeFollowupConversations">סטטוס שיחה</a>
                <a href="#" maintaining-menu="ClientType">סטטוס לקוח</a>
                <a href="#" maintaining-menu="MeetingStatus">סטטוס פגישה</a>
              </div>
        </div>
    
    <a href="#about">הפניות</a>
    
    <a href="#" class="icon" maintaining-menu="topnav">
      <i  class="fa fa-bars"></i>
    </a>
</div>
