<script id="template_params_list" type="text/html">
      <a href="#" onclick=" new_param()">חדש</a>
    <input type="hidden" id="my_serial" name="my_serial" value="<%=data.my_serial%>"
    <br />
    <div <style=" padding-right: 15px; ">
        <table border="1" id="table_param" <style="   margin-right: 15px; ">
            <thead>
                <tr>
                
                    <th>פרוט</th>
                <th>עריכה</th>
                </tr>
            </thead>
            <tbody>
                <% $.each(data.main, function(rowindex,row) {%>
                    <tr onclick="getId(this)">
                        <% $.each(row, function(key,val){  
                            if(key!="serial") {%>
                            <td><%= val%></td>
                        <% } else { %>
                            <td> <a href="#" onclick="edit_param(<%= val%>)"> edit</a> </td>
                        <%} });%>
                    </tr>
                <%}); %>
            </tbody>
        </table>
    </div>
    <script type="text/javascript" >
      
  </script>
</script>