<script id="templat_conversation_list" type="text/html">
    <!    <a href="#" onclick=" edit_conversation(0 , -1)"> שיחה חדשה</a> 
    <br />
    <br /> !-->
    <input type="text" class="black_text" id="table_conversation_comment" size="10" onkeyup="filter_my_table('table_conversation')" />
	<br>
	<input type="button" onclick=" edit_conversation(0)" value="חדש"  class="font_color_purpl"/>
    <br>
	<div class="container">
		<div class="row">
                <div class="col-sm-1fieldLabel">
					תאריך
				</div>
				<div class="col-sm-4 fieldLabel">
					תקציר השיחה
				</div>
				<div class="col-sm-1 fieldLabel">
					מטרת השיחה
				</div>
				<div class="col-sm-2 fieldLabel">
					שם מטפל
				</div>
				<div class="col-sm-1 fieldLabel">
					סטוטס
				</div>
				<div class="col-sm-2 fieldLabel">
					מ.פוליסה
				</div>
				<div class="col-sm-1 fieldLabel">
					
				</div>
		</div>
		<% $.each(data.conversation_list, function(rowindex,row) {
				
					if(row.done==true){ %> 
						<div class="row">
					<%  } else  if(row.immediately==true) {%> 
					
					 <div class="row red_text"> 
				  <%  } else if(row.done==false){ %>
					  <div class="row green_text">  
						   
					<%}%> 
					
				
				
				<div class="col-sm-1fieldLabel">
					 <% row.datee %>
				</div>
				<div class="col-sm-4 fieldLabel">
					  <% row.summary_of_conversation  %>
				</div>
				<div class="col-sm-1 fieldLabel">
					  <% row.goal_of_talk_name %>
				</div>
				<div class="col-sm-2 fieldLabel">
					 <% row.user_name %>
				</div>
				<div class="col-sm-1 fieldLabel">
					 <% row.type_followup_conversation_name %>
				</div>
				<div class="col-sm-2 fieldLabel">
					 <% no_police %>
				</div>
				<div class="col-sm-1 fieldLabel">
					 <div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
							aria-expanded="false">
							בחר  <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
									<li><a href="#" onclick="edit_conversation(<%= row.serial%>,<%=(rowindex+1)%>)"s>  עריכה   </a></li>
								<li><a href="#" onclick="get_followup_conversations_list_by_clientserial(<%= row.client_serial%>)">  מעקב   </a></li>
								
						</ul>
					 </div>
				</div>
		<%}); %>
		</div>
	</div>
	
	
	
    <table border="1"  id="table_conversation" >
	
        <thead > 
            <tr style="color: blue;">
               <th>תאריך</th>
                <th>תקציר השיחה </th>
               <th>מטרת השיחה</th>
                <th>שם מטפל</th>
                <th>סטוטס</th>
                <th>מ.פוליסה</th>
                 <th><input type="button" onclick=" edit_conversation(0)" value="חדש"  class="font_color_purpl"/></th>
            </tr>
        </thead>
        <tbody>
            <% $.each(data.conversation_list, function(rowindex,row) {
            
                if(row.done==true){ %> 
                    <tr >
                <%  } else  if(row.immediately==true) {%> 
                
                 <tr class="red_text">
              <%  } else if(row.done==false){ %>
                    <tr class="green_text">
                       
                <%}%>        

                     <% $.each(row, function(key,val){  
                         if(key=="serial") {%>
                            <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false">
                                            בחר  <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#" onclick="edit_conversation(<%= val%>,<%=(rowindex+1)%>)"s>  עריכה   </a></li>
                                                <li><a href="#" onclick="get_followup_conversations_list_by_clientserial(<%= val%>)">  מעקב   </a></li>
                                                
                                        </ul>
                                     </div>
                            <!--    <a href="#" onclick=" edit_conversation(<%= val%>,this.parentNode.parentNode)"> עריכה</a> 
                                &nbsp
                                <a href="#" onclick=" get_followup_conversations_list_by_clientserial(<%= val%>)"> מעקב</a> !-->
                            </td>
                        <% } else if(key=="immediately") { 
                           // alert(this);
                          //  this.parent().css( "background-color", "red" );
                         } else if(key!="done") { %>
                                <td><%= val%></td>
                    <%} });%>
                 </tr>
            <%}); %>
        </tbody>
    </table>
     <script type="text/javascript" >

         $(document).ready(function () {
          
             $('#datee').datepicker({
                 dateFdateeormat: "dd/mm/yy"
             });
             var table = document.getElementById("tableID");
             if (table != null) {
                 for (var i = 0; i < table.rows.length; i++) {
                     for (var j = 0; j < table.rows[i].cells.length; j++)
                         table.rows[i].cells[j].onclick = function () {
                             tableText(this);
                         };
                 }
             }

             function tableText(tableCell) {
                 alert(tableCell.innerHTML);
             }

            
            
         })
  </script>
</script>