

 <div class="show_hide_div" id="travel_insurance_div"> 
    <div class="container - fluid ">
      <div class="row">
        <div class="  col">
          /views/pages/insurance/aboard.html
          <p>
           aaa ביטוח נסיעות לחו"ל באמצעות חברות הביטוח:  הראל, פספורט כארד 
         </p>
          <p>
          בשלב זה לא ניתן לרכוש כיסוי לארצות הברית
          </p>
          <p>  
          להלן עיקריי הכיסויים הכלולים בפוליסה הבסיסית:
          </p>
          <p>
          הוצאות רפואיות בחו"ל בעת אשפוז ולא בעת אשפוז - כולל גם עקב נגיף הקורונה
          </p>
          <p>
          הטסה רפואית לישראל
          </p>
          <p>
          פינוי אווירי ממקום האירוע לבי"ח קרוב
          </p>
          <p>
          איתור וחילוץ
          </p>
          <p>
          הוצאות העברה ברכב יבשתי
          </p>
          <p>
          טיפול חירום בשיניים
          </p>
          <p>
          הריון שאובחן לראשונה בחו"ל עד שבוע 12
          </p>
           <p>
          חבות כלפי צד שלישי
          </p>
          <p>
          הארכת שהות בחו"ל מעבר לתקופה המבוקשת
          </p>
           <p>
          ניתן לרכוש הרחבות בתוספת תשלום:
        </p>
        <p>
          כיסוי מקיף לביטול וקיצור נסיעה עקב נגיף קורונה
        </p>
        <p>
          ספורט אתגרי
        </p>
        <p>
          ספורט חורף
        </p>
        <p>
          כבודה
        </p>
        <p>
          ביטול וקיצור נסיעה
        </p>
        <p> 
          גניבה של מצלמה/ טלפון נייד/ מחשב נייד
        </p>
        <p>
          ביטוח תאונות אישיות מוות או נכות מלאה
        </p>
        <p>
          כיסוי למצב רפואי קיים
        </p>
        <p>
          הוצאות רפואיות בישראל
        </p>
        <p>
          בכפוף לתנאי הפוליסה המלאים
          </p>
        </div>
        
        
    </div>
  </div>

  
  