


   <div class="topnav">
    
    
    <a href="#">
     
       
        חיפוש 
         &nbsp 
         <input id="typehead" type="hidden" class="select2width" /> 
     
   </a>
       <a href="/">   <img src="../images/Apps-Home-icon.png" width="30" height="30" alt="logo" title=" ראשי ">    </a> 
      
      <a href="javscript:void(0)" avi-menu="client_details">
        
        <img src="../images/Detail-icon.png" width="30" height="30" alt="logo" title=" פרטים ">
      </a>
      
      <a href="javscript:void(0)"  avi-menu="conversation">
        <img src="../images/conversation-icon.png" width="30" height="30" alt="logo" title=" שיחות לקוח "> 
      </a>
    
      <a href="javscript:void(0)" avi-menu="my_meeting">
        <img src="../images/Meeting-icon.png" width="30" height="30" alt="logo" title="  פגישות"> 
           
      </a>
      
      
      <a href="javscript:void(0)" avi-menu="documents">
        
        <img src="../images/documents-icon.png" width="30" height="30" alt="logo" title=" מסמכים "> 
      </a>
      
      
     
      <a href="javscript:void(0)" avi-menu="search">
               
            <img src="../images/search-icon.png" width="30" height="30" alt="logo" title=" חיפוש "> 
      </a>
      
     
   
 </div>