<!--client -->


  <form id="FormClient22" name="FormClient" onsubmit="return false;">
      
    <div id="hidden_div">
      <input name="client_serial" id="client_serial" type="hidden" value="" />
      
      <input  class="flg_div" type="hidden" name="tabs_current_index" id="tabs_current_index" />
      <input  class="flg_div" type="hidden" name="client_details_flg" id="client_details_flg" />

  <input  class="flg_div" type="hidden" name="communication_flg" id="communication_flg" />
      <input class="flg_div" type="hidden" name="conversation_flg" id="conversation_flg" />
      <input  class="flg_div" type="hidden" name="conversation_follow_flg" id="conversation_follow_flg" />
      <input  class="flg_div" type="hidden" name="life_police_flg" id="life_police_flg" />
      <input  class="flg_div" type="hidden" name="documents_flg" id="documents_flg" />
      <input  class="flg_div" type="hidden" name="kupa_gemel_flg" id="kupa_gemel_flg" />
      <input  class="flg_div" type="hidden" name="proposal_lifel_flg" id="proposal_lifel_flg" />
      <input  class="flg_div" type="hidden" name="meeting_flg" id="meeting_flg" />
      <input  class="flg_div" type="hidden" name="ricuz_police_flg" id="ricuz_police_flg" />
   </div>
    <div id="avis">
            
    </div>
  
    
  
  
      <$- include("./client_menu2") $>


  

     <br/>
  
    
  <div class="container">
  
            <div class="row">
            
               
                  <div class="col-sm-12" id="td_client_details2">
                    <div class="show_hide_div" name="conversation_div"   id="conversation_div" style="display:none">
                      <table id="hierarchical_grid" class="hierarchical_grid" onclick="" ></table>
                    </div>
                    <div class="show_hide_div" name="proposal_life_follow_div"   id="proposal_life_follow_div" style="display:none">
                      <table id="hierarchical_proposal_life_grid" class="hierarchical_grid" onclick="" ></table>
                    </div>
                    <div class="show_hide_div" name="life_police_div"  id="life_police_div" style="display:none"> </div>
                    <div class="show_hide_div" name="documents_div" id="documents_div" style="display:none"></div>
                    <div class="show_hide_div" name="kupa_gemel_div" id="kupa_gemel_div" style="display:none"></div>
                    <div class="show_hide_div" name="meeting_div" id="meeting_div" style="display:none"></div>
                    <div class="show_hide_div" name="conversations_filtering_div" id="conversations_filtering_div" style="display:none"></div>
                    <div class="show_hide_div" name="conversations_from_meeting_div" id="conversations_from_meeting_div" style="display:none"></div>
                    <div class="show_hide_div" name="searching_div" id="searching_div" style="display:none"></div>
                    <div class="show_hide_div" name="ricuz_police_div" id="ricuz_police_div" style="display:none"></div>
                    <div class="show_hide_div " name="edit_client_details_div" id="edit_client_details_div" style="display:none"></div>
                      
                  </div>       
            </div>
           
         
        
      
        
      </div>
    

</form>


<$- include("./edit_template") $>

<$- include("./edit_client") $>

<$- include("./details_client") $>


<$- include("./client_list") $>

<$- include("./client_details") $>

<$- include("../conversation/edit_conversation") $>
<$- include("../conversation/conversation_list") $>
<$- include("../conversation/conversation_from_meeting_list") $>

<$- include("../conversation/conversations_and_followup") $>
<$- include("../conversation/conversations_filtering") $>
<$- include("../conversation/conversation_filtering_list") $>

<$- include("../followup_conversation/edit_followup_conversation") $>
<$- include("../followup_conversation/followup_conversation_list") $>


                          

<$- include("../documents/edit_documents") $>
<$- include("../documents/documents_list") $>

<$- include("../communication/edit_communication") $>
<$- include("../communication/communication_list") $>

<$- include("../meeting/edit_meeting") $>
<$- include("../meeting/meeting_list") $>

<$- include("../searching/searching") $>

<$- include("../families/families_list") $>
<$- include("../families/edit_families") $>

<$- include("../family_members/family_members_list") $>
<$- include("../family_members/edit_family_members") $>
<$- include("../family_members/family_members_for_client_details") $>

