<!--client -->
<head>
  <meta charset="utf-8" />
  <title>?? ??????</title>
</head>
<body>
  <form id="FormClient22" name="FormClient" onsubmit="return false;">
      
    <div id="hidden_div">
      <input name="client_serial" id="client_serial" type="hidden" value="" />
      
      <input  class="flg_div" type="hidden" name="tabs_current_index" id="tabs_current_index" />
      <input  class="flg_div" type="hidden" name="client_details_flg" id="client_details_flg" />

  <input  class="flg_div" type="hidden" name="communication_flg" id="communication_flg" />
      <input class="flg_div" type="hidden" name="conversation_flg" id="conversation_flg" />
      <input  class="flg_div" type="hidden" name="conversation_follow_flg" id="conversation_follow_flg" />
      <input  class="flg_div" type="hidden" name="life_police_flg" id="life_police_flg" />
      <input  class="flg_div" type="hidden" name="documents_flg" id="documents_flg" />
      <input  class="flg_div" type="hidden" name="kupa_gemel_flg" id="kupa_gemel_flg" />
      <input  class="flg_div" type="hidden" name="proposal_lifel_flg" id="proposal_lifel_flg" />
      <input  class="flg_div" type="hidden" name="meeting_flg" id="meeting_flg" />
      <input  class="flg_div" type="hidden" name="ricuz_police_flg" id="ricuz_police_flg" />
   </div>
    <div id="avis">
            
    </div>
  
      <!-- <div class="  center fixed-top">
        <div class="row">
          <div class="col-sm-12" >
            <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-align-left"></i>
              <span>Toggle Sidebar</span>
            </button>
            חיפוש
            &nbsp 
            <input id="typehead" type="hidden" class="select2width" /> 
          </div>
      </div>
      </div> -->
      <div >

     <!-- <div class="navbar navbar-default ">
      <ul class="nav navbar-nav font_white">

          <li > <a href="/">    ראשי    </a> </li>
          
          <li><a href="javscript:void(0)" avi-menu="client_details">פרטים</a></li>
          <li class="nav-item"><a href="javscript:void(0)"  avi-menu="conversation">שיחות </a></li>
          <li><a href="javscript:void(0)" avi-menu="my_meeting">פגישות</a></li>
          <li><a href="javscript:void(0)"  avi-menu="policy">פוליסות </a></li>
          <li><a href="javscript:void(0)" avi-menu="documents">מסמכים</a></li>
          <li><a href="javscript:void(0)" avi-menu="kupa">גמל</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">תיק לקוח <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="javscript:void(0)" avi-menu="police_reort_menu">דוח ביטוחים</a></li>
                  <li><a href="javscript:void(0)" avi-menu="hishtalmut_menu">דוח קרנות השתלמות</a></li>
                  <li><a href="javscript:void(0)" avi-menu="kizui_be_mutzar_menu">כיסויים בפוליסה </a></li>
                  <li><a href="javscript:void(0)" avi-menu="yitrot_le_tkupa_menu">יתרות לפי תקופה</a></li>
                  <li><a href="javscript:void(0)" avi-menu="kupa_menu">צפי קצבאות</a></li>
                  
              </ul>
          </li>   
          <li><a href="javscript:void(0)" avi-menu="search">חיפוש</a></li>
          <li>  <input type="button" class="menu_bottun" id="hide_show_client_details"  value="פרטי לקוח" /></li>
          <il>  </il> 
       </ul>
     </div> -->
<!--   <h2 id="full_name" ></h2>  -->		

   </div>
   <div>
            
    חיפוש 
     &nbsp 
     <input id="typehead" type="hidden" class="select2width" /> 
 </div>
   <div class="navbar navbar-default ">
    
    <ul class="nav navbar-nav font_white">
      
        <li > <a href="/">   <img src="../images/Apps-Home-icon.png" width="30" height="30" alt="logo" title=" ראשי ">    </a> </li>
        <li>
           
        </li>
        <li><a href="javscript:void(0)" avi-menu="client_details">
          
          <img src="../images/Detail-icon.png" width="30" height="30" alt="logo" title=" פרטים ">
            </a>
        </li>
        <li class="nav-item"><a href="javscript:void(0)"  avi-menu="conversation">
          <img src="../images/conversation-icon.png" width="30" height="30" alt="logo" title=" שיחות לקוח "> 
            </a>
      </li>
        <li><a href="javscript:void(0)" avi-menu="my_meeting">
          <img src="../images/Meeting-icon.png" width="30" height="30" alt="logo" title="  פגישות"> 
             
            </a>
        </li>
        
        <li><a href="javscript:void(0)" avi-menu="documents">
          
          <img src="../images/documents-icon.png" width="30" height="30" alt="logo" title=" מסמכים "> 
            </a>
        </li>
        
        <!-- <li class="dropdown"> 
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">תיק לקוח <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="javscript:void(0)" avi-menu="police_reort_menu">דוח ביטוחים</a></li>
                <li><a href="javscript:void(0)" avi-menu="hishtalmut_menu">דוח קרנות השתלמות</a></li>
                <li><a href="javscript:void(0)" avi-menu="kizui_be_mutzar_menu">כיסויים בפוליסה </a></li>
                <li><a href="javscript:void(0)" avi-menu="yitrot_le_tkupa_menu">יתרות לפי תקופה</a></li>
                <li><a href="javscript:void(0)" avi-menu="kupa_menu">צפי קצבאות</a></li>
                
            </ul>
        </li> -->  
        <li><a href="javscript:void(0)" avi-menu="search">
                 
              <img src="../images/search-icon.png" width="30" height="30" alt="logo" title=" חיפוש "> 
            </a>
        </li>
        <!-- <li>  <input type="button" class="menu_bottun" id="hide_show_client_details"  value="פרטי לקוח" /></li> -->
        <il>  </il> 
     </ul>
     
   </div>
<!--   <h2 id="full_name" ></h2>  -->		
    
 <!-- </nav> -->
     <!-- Sidebar  -->
    <!-- <nav id="sidebar">
      <div class="sidebar-header">
          <h3>אלומה</h3>
      </div>

      <ul class="list-unstyled components">
          <p>תפריט</p>
          <li>
            <li > <a href="/">    ראשי    </a> </li>
          </li>
          <li>
            <li><a href="javscript:void(0)" avi-menu="client_details">פרטים</a></li>
          </li>
          <li>
            <li class="nav-item"><a href="javscript:void(0)"  avi-menu="conversation">שיחות </a></li>
          </li>
          <li>
            <li><a href="javscript:void(0)" avi-menu="my_meeting">פגישות</a></li>
          </li>
          <li>
            <li><a href="javscript:void(0)" avi-menu="documents">מסמכים</a></li>
          </li>
          <li>
            <li><a href="javscript:void(0)" avi-menu="search">חיפוש</a></li>
          </li>
          <li>
            <li>  <input type="button" class="menu_bottun" id="hide_show_client_details"  value="פרטי לקוח" /></li>
          </li>
          <li class="active">
              
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li>
                    <li > <a href="/">    ראשי    </a> </li>
                  </li>
                  <li>
                    <li><a href="javscript:void(0)" avi-menu="client_details">פרטים</a></li>
                  </li>
                  <li>
                    <li class="nav-item"><a href="javscript:void(0)"  avi-menu="conversation">שיחות </a></li>
                  </li>
              </ul>
          </li>
          
          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                      <a href="#">Page 1</a>
                  </li>
                  <li>
                      <a href="#">Page 2</a>
                  </li>
                  <li>
                      <a href="#">Page 3</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#">Portfolio</a>
          </li>
          <li>
              <a href="#">Contact</a>
          </li>
      </ul>

      
    </nav> -->
    <br>
  

     <br/>
  
   
  <div class="container">
  
            <div class="row">
            
                  <!-- <div class="col-sm-3" id="td_client_details">
                    <div id="client_details_div"  class="div_top1">  </div>
                    <div class="toggleExample togglebox">
                      <div class="toggle_title" data-show="text-02">משפחה <span class="toggle-marker">+</span></div>
                      <div id="family_members_in_client_details_div" class="text-02 hidden-text"></div>
                    </div>
                    <div id="family_members_in_client_details_div2"></div>
                    <div id="communication_div"></div>
                  </div> -->
                    
                  <div class="col-sm-12" id="td_client_details2">
                    <div class="show_hide_div" name="conversation_div"   id="conversation_div" style="display:none">
                      <table id="hierarchical_grid" class="hierarchical_grid" onclick="" ></table>
                    </div>
                    <div class="show_hide_div" name="proposal_life_follow_div"   id="proposal_life_follow_div" style="display:none">
                      <table id="hierarchical_proposal_life_grid" class="hierarchical_grid" onclick="" ></table>
                    </div>
                    <div class="show_hide_div" name="life_police_div"  id="life_police_div" style="display:none"> </div>
                    <div class="show_hide_div" name="documents_div" id="documents_div" style="display:none"></div>
                    <div class="show_hide_div" name="kupa_gemel_div" id="kupa_gemel_div" style="display:none"></div>
                    <div class="show_hide_div" name="meeting_div" id="meeting_div" style="display:none"></div>
                    <div class="show_hide_div" name="conversations_filtering_div" id="conversations_filtering_div" style="display:none"></div>
                    <div class="show_hide_div" name="conversations_from_meeting_div" id="conversations_from_meeting_div" style="display:none"></div>
                    <div class="show_hide_div" name="searching_div" id="searching_div" style="display:none"></div>
                    <div class="show_hide_div" name="ricuz_police_div" id="ricuz_police_div" style="display:none"></div>
                    <div class="show_hide_div " name="edit_client_details_div" id="edit_client_details_div" style="display:none"></div>
                      
                  </div>       
            </div>
           
         
        
      
        
      </div>
    

</form>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<!-- <script type="text/javascript">
  $(document).ready(function () {
      $("#sidebar").mCustomScrollbar({
          theme: "minimal"
      });

      $('#sidebarCollapse').on('click', function () {
          $('#sidebar, #content').toggleClass('active');
          $('.collapse.in').toggleClass('in');
          $('a[aria-expanded=true]').attr('aria-expanded', 'false');
      });
  });
</script> -->

<$- include("./edit_template") $>

<$- include("./edit_client") $>

<$- include("./details_client") $>


<$- include("./client_list") $>

<$- include("./client_details") $>

<$- include("../conversation/edit_conversation") $>
<$- include("../conversation/conversation_list") $>
<$- include("../conversation/conversation_from_meeting_list") $>

<$- include("../conversation/conversations_and_followup") $>
<$- include("../conversation/conversations_filtering") $>
<$- include("../conversation/conversation_filtering_list") $>

<$- include("../followup_conversation/edit_followup_conversation") $>
<$- include("../followup_conversation/followup_conversation_list") $>


                          

<$- include("../documents/edit_documents") $>
<$- include("../documents/documents_list") $>

<$- include("../communication/edit_communication") $>
<$- include("../communication/communication_list") $>

<$- include("../meeting/edit_meeting") $>
<$- include("../meeting/meeting_list") $>

<$- include("../searching/searching") $>

<$- include("../families/families_list") $>
<$- include("../families/edit_families") $>

<$- include("../family_members/family_members_list") $>
<$- include("../family_members/edit_family_members") $>
<$- include("../family_members/family_members_for_client_details") $>

