<script id="templat_conversation_filtering_list" type="text/html">
   <form id="ConversationFiltering_list" name="ConversationFiltering_list">
    <table border="1" id="conversation_filter_table">
        <thead>
            <tr style="color: blue;">
                    
                    <th>שם לקוח</th>
                    <th>תאריך</th>
                    <th>תקציר הפניה</th>
                    <th>מטרת השיחה</th>
                    <th>שם מטפל</th>
                    <th>סטטוס</th>
                    <th>בחר</th>
            </tr>
        </thead> 
        <tbody>
            <% $.each(data[0], function(rowindex,row) {%>
                <tr>
                    <% $.each(row, function(key,val){  
                          if(key!="Serial") {%>
                           <td><%= val%></td>
                     <% } else { %>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">
                                    בחר  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                            <li><a href="#" onclick="edit_conversation(<%= val%>,<%=(rowindex+1)%>)"s>  עריכה   </a></li>
                                        <li><a href="#" onclick="get_followup_conversations_list_by_clientserial(<%= val%>)">  מעקב   </a></li>
                                        
                                </ul>
                             </div>
                            </td> 
                       <%} });%>
                 </tr>
                <%}); %>
        </tbody>
    </table>
   </form> 
 
</script>