


th {
    padding: 10px;
    text-align: right;
    color: rgb(1, 1, 14);
    background:rgb(206, 223, 193)
  
}

td {
    padding: 10px;
    text-align: right;
  
}


.red_text{
  font-size: 16 !important;
 
  color:red;
  font-family: Arial, Helvetica, sans-serif  ;
  font-weight: bold;
} 
.black_text{
 
 
  color:black !important;
  font-family: Arial, Helvetica, sans-serif  ;
  font-weight: bold;
} 


.green_text{
  font-size: 16;
 
  color:green;
  font-family: david  ;
  font-weight: bold;
}



.nav{
 

   color:         rgb(172, 74, 44) ;   
   font: bold  ;                   
    font-family:    Garamond;
    font-size:      1.5em;
    padding:        5px 20px;
     
  
    
}

.navbar-avi {
  color:         white ;                        
  font-family:    Garamond;
  font-size:      1.15em;
  padding:        5px 20px;
 
  background-color:rgb(233, 17, 17)
 
  
}

html, body{
  margin:0px;
  padding:0px;
}

.font_white{
  coler:white;
}

.navbar a {
  color: white;
}

a:hover{
 color: black;
}

.menu_bottun{
  color:white;
  background-color: blue;
}

.fieldLabel {
  height: 80px;
 
  color: rgb(53, 21, 240);
  font-size: 14;
  font-family: Arial, Helvetica, sans-serif;
  
}
.fieldValue {
  height: 40px;
  border: 1px solid black;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.w3-input{
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  color: black;
  width:100%
}

.w3-container,.w3-panel{
  padding:0.01em 16px
}
.w3-panel{
  margin-top:16px;
  margin-bottom:16px
}
.w3-blue,.w3-hover-blue:hover{
  color:#fff!important;
  background-color:#2196F3!important
}
